html {
  background-image: url("https://raw.githubusercontent.com/martavslobo/iwantit/master/resources/pattern.png");
  font-family: Trebuchet MS;
  text-align: center;
  color: #262626;
}

h1 {
  font-size: 100px;
  display: block;
}

h2 {
  font-size: 12px;
  font-weight: 300;
}

h2 {
  font-size: 12px;
  font-weight: 300;
}

h3 {
  font-size: 12px;
  font-color: #262626;
}

#animation {
  position: relative;
  height: 200px;
  padding: 40, 20;
  display: block;
}

.tablink {
    background-color: #555;
    color: white;
    float: bottom;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: #262626;
    font-size: 14px;
    display: none;
    padding: 50px;
    text-align: center;
}

#Shillington #Creativity #Outcomes {background-color:white;}


#footer {
    color: #262626;
    font-size: 12px;
    position: absolute;
    text-align: center;

}
