html {
  background-image: href="./resources/2.pdf";
  font-family: Verdana, sans-serif;
  text-align: center;
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h3 {
  font-size: 21px;
  color: gray;
}

h4 {
  font-size: 16px;
  color: aquamarine;
  text-decoration: underline;
  font-weight: normal;
}
