html {
  background-image: url("https://raw.githubusercontent.com/martavslobo/iwantit/master/resources/pattern.png");
  font-family: Trebuchet MS;
  text-align: center;
  color: #262626;
}

h1 {
  font-size: 100px;
  display: block;
}

h2 {
  font-size: 12px;
  font-weight: 300;
}

#animation {
  position: relative;
  height: 200px;
  padding: 40, 20;
  display: block;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
#WhyShillington {opacity: 0.5;}
#Creativity {opacity: 0.5;}
#Outcomes {opacity: 0.5;}

#footer {
    color: #262626;
    font-size: 12px;
    text-align: center;
}
